header h1{
  font-size: 18px !important;
  padding-top: 3px;
}

main{
  margin: 30px 0;
}
form{
  width: 300px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0 2px 20px #90EE90;
  border: 1px solid var(--mid-P);
  padding: 10px 0;
}
#top div:nth-child(1){
  border-bottom: 1px solid #ADD8E6;
  padding: 5px 6px;
  margin: 0 12px;
  display: flex;
}
#top div:nth-child(1) p{
  font-size: 14px;
  color: var(--high-P);
  background: none;
  border: 1px dotted var(--mid-P) ;
  padding: 2px 6px;
  padding-bottom: 3px;
  border-radius: 10px;
}

#top div:nth-child(2){
  padding: 10px 15px;
}
textarea{
  width: 100%;
  border: 1px solid var(--high-P);
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 18px;
  resize: none;
  color: #636363;
  height: 100px;
}
textarea::placeholder{
  color: #ddc5e2;
}

#bot {
  padding: 3px 13px;
}
#bot button{
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px;
}
#bot button:before{
  content: 'Send';
}

@media(max-width:720px){
  form{
    width: 84%;
  }
}